#wrapp1 {
    display: grid;
    grid-template-areas:
        "h1  h1  nv"
        "nv2  nv2  nv"
        "sc  mn  mn"
        "ft  ft  ft";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 100px 4fr 1fr;
}
body {
    margin: 0%;
    background-color: #f6efe8;
}
#img2 {
border-top-right-radius: 2em;
border-bottom-right-radius: 2em;
}
#img1 {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}
#in img{
    width: 40%;
    height: 40%;
    border-radius: 10px;
    margin-top:20px ;
}
#button {
    background-color: #f6efe8;
    border-radius: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

a{
    text-decoration: none;
   color: black;
}
#head1 {
    grid-area: h1;
    display: flex;
    align-items: center;
}
#head1 img{
    width: 10%;
    border-radius: 100%;
    margin-right: 180px ;
    margin-left: 10px;
}


#in {
    background-color: #f6efe8;
    grid-area: nv; 
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-left:10%;
margin-right: 10%;
border-radius: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 150%;
}
#nav1 {
    background-color: #a5b58d;
    grid-area: nv; 
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius:20px;
margin-right: 10px;
}

#nav2 {
    display: flex;
justify-content: center;
align-items: center;
    grid-area: nv2;
    background-color: #a5b58d;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: 10px;
}

#sec1 {
    background-color: #f6efe8;
    grid-area: sc;
}

#main1 {
    margin-top: 20px;
    grid-area: mn;
    display: flex;
}
#main1 img{
    height: 400px;

}

#foot1 {
    background-color: lightgray;
    grid-area: ft;
    background-color: #b58b63;
    margin-top: 20px;
}
#hdt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400%;

}

#text {
    margin:10%;
}