#wrapp1 {
    display: grid;
    grid-template-areas:
        "h1  h1  nv"
        "nv2  nv2  nv"
        "sc  mn  mn"
        "ft  ft  ft";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50% 4fr 4fr;

}
#in img{
    width: 40%;
    height: 40%;
    border-radius: 10px;
}
#button {
    background-color: aquamarine;
    border-radius: 20px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
#head1 {
    background-color: aqua;
    grid-area: h1;
}

#in {
    background-color: blue;
    grid-area: nv; 
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-left:10%;
margin-right: 10%;
border-radius: 10px;
}
#nav1 {
    background-color: bisque;
    grid-area: nv; 
display: flex;
justify-content: center;
align-items: center;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius:20px;
}

#nav2 {
    grid-area: nv2;
    background-color: bisque;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#sec1 {
    background-color: lightcoral;
    grid-area: sc;
}

#main1 {
    background-color: lightgreen;
    grid-area: mn;
}

#foot1 {
    background-color: lightgray;
    grid-area: ft;
}